<div class="container">
  <div *ngIf="teacher" class="title">
    <h2>{{teacher.nome | uppercase}} - Detalhes</h2>
  </div>
  
  <div *ngIf="teacher" class="info-teachers">
    <span>ID: </span>{{teacher.id}}<br>
      <label for="teacher-name">Nome: </label>
      <input id="teacher-name" [(ngModel)]="teacher.nome" placeholder="Nome"/><br>

      <label for="teacher-name">Dia de Aulas: </label>
      <input id="teacher-name" [(ngModel)]="teacher.aulas" placeholder="Dia de Aulas"/><br>
      <button type="button" (click)="goBack()" class="button-details">Voltar</button>
    </div>
</div>

