/* AppComponent's private CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');

.container {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-top: 30px;
  width: 800px;
  height: 68em;
  background-color: #B0C1D9;  
  box-shadow: 5px 5px 10px rgba(0, 0, 0 , .212);  
  margin-left: 20em;
}

nav a {
  width: 234px;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  background-color: #30588C;
  text-align: center;
}

.student-menu, .dashboard-menu {
    border-right: 1px solid white;
}
