<div class="container">
  <div *ngIf="student" class="title">
    <h2>{{student.nome | uppercase}} - Detalhes</h2>
  </div>
  
  <div *ngIf="student" class="info-students">
    <span>ID: </span>{{student.id}}<br>

      <label for="student-name">Nome: </label>
      <input id="student-name" [(ngModel)]="student.nome" placeholder="Nome"/><br>

      <label for="student-curso">Curso: </label>
      <input id="student-curso" [(ngModel)]="student.curso" placeholder="Curso"/><br>

      <label for="student-semestre">Semestre: </label>
      <input id="student-semestre" [(ngModel)]="student.semestre" placeholder="Semestre"/><br>

      <label for="student-turno">Turno: </label>
      <input id="student-turno" [(ngModel)]="student.turno" placeholder="Turno"/><br>

      <button type="button" (click)="goBack()" class="button-details">Voltar</button>
    </div>
</div>


      

