<div *ngIf = "student" class="info-students">
      <h2>{{student.nome | uppercase}} - Detalhes</h2>
      <div style="margin-bottom: 2px;"><span>ID: </span>{{student.id}}</div>

      <label for="student-name">Nome: </label>
      <input id="student-name" [(ngModel)]="student.nome" placeholder="nome"><br>

      <label for="student-nome">Curso: </label>
      <input id="student-nome" [(ngModel)]="student.curso" placeholder="Curso"><br>
    
      <label for="student-nome">Semestre: </label>
      <input id="student-nome" [(ngModel)]="student.semestre" placeholder="Semestre"><br>
    
      <label for="student-nome">Turno: </label>
      <input id="student-nome" [(ngModel)]="student.turno" placeholder="Turno"><br>
</div>
